
@font-face {
  font-family: 'SBB-Bold';
  src: url('../assets/SBB/SBBWeb-Bold.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../assets/SBB/SBBWeb-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.column {
  display: flex;
  flex-grow: 1;
}

.button {
  flex: inherit;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: #eb0000;
  border-color: white;
  color: #fff;
  cursor: inherit;

}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eb0000;
  z-index: 2;
  cursor: none;
}

.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  font-family: SBB-Bold,Arial,sans-serif;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
