

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.column {
  display: flex;
  flex-grow: 1;
}

.button {
  flex: inherit;
  margin: 0;
  padding: 0;
}
